* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
}

body {
    background-color: #d9dcd6;
}


a {
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Header + hero style starts here */

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header h1 {
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding: 20px;
    background-color: #2a607c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 20px;
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-left: 25px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Header + hero style ends here */

/* Content style starts here */

main {
    display: flex;
    justify-content: space-around;
}

.content {
    width: 75%;
    margin-left: 20px;
}

.content article {
    display: flex;
}

.content article .text-content {
    display: flex;
    flex-direction: column;
}

.content article .on-right {
    margin-left: 25px;
}

.content article .on-left {
    margin-right: 25px;
}

.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Search engine blurb style ends here */


/* Benefits style starts here */

.benefits {
    margin-right: 20px;
    padding: 20px;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits article {
    margin-bottom: 32px;
}

.benefits article h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Benefits style ends here */

/* Footer style starts here */

footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

footer h2,
footer p {
    color: #000;
}

/* Footer style ends here */

/* Responsive style starts here */

@media (max-width: 1000px) {

    /* Respnosive main content style starts here */

    .content h2 {
        font-size: 24px;
    }

    /* Responsive main content style ends here */

}

/* Responsive style ends here */